<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
	<div class="container">
    {{#link-to 'application' class="navbar-brand js-scroll-trigger"}}
      <i class="fab fa-github-alt"></i> Meet My Community!
    {{/link-to}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
            {{#link-to 'application' class="nav-link js-scroll-trigger"}}
              <i class="fab fa-github-alt"></i>
            {{/link-to}}
				</li>
			</ul>
		</div>
	</div>
</nav>

<header class="bg-primary text-white">
	<div class="container text-center">
		<h1>Welcome to Scrolling Nav</h1>
		<p class="lead"> Github Campus Experts Training Module 12</p>
	</div>
</header>

{{outlet}}

<br><br><br>
<!-- Footer -->
<footer class="py-5 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white"> Made by @carlogilmar</p>
		<p class="m-0 text-center text-white"> <strong>Github Campus Experts Training Module 12</strong></p>
		<p class="m-0 text-center text-white"> Powered by Electron JS.</p>
		<br>
	</div>
	<!-- /.container -->
</footer>


